/** COLORS **/
/** MIXINS **/
/** BASIC STLYES **/
/* line 77, ../sass/openstack.scss */
a {
  color: #bc1518;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #bc1518;
}
/* line 21, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: black;
}
/* line 80, ../sass/openstack.scss */
a:hover {
  text-decoration: underline;
}

/* line 85, ../sass/openstack.scss */
p {
  margin: 0 0 1.5em;
}

/* line 89, ../sass/openstack.scss */
h1 {
  font-size: 24px;
  color: #264d69;
  font-weight: normal;
}

/* line 93, ../sass/openstack.scss */
h2 {
  font-size: 18px;
  color: #264d69;
  font-weight: normal;
}

/* line 97, ../sass/openstack.scss */
h3 {
  font-size: 16px;
  color: #bc1518;
  font-weight: normal;
}

/* line 101, ../sass/openstack.scss */
.block {
  margin: 0px;
}

/** LAYOUT **/
/* line 109, ../sass/openstack.scss */
body {
  border-top: 3px solid #255e6e;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #535353;
  font-weight: normal;
  background: #fff;
  line-height: 1.5;
}
/* line 115, ../sass/openstack.scss */
body #message_bar {
  background: #e3eded;
  border-bottom: 1px solid white;
  padding: 10px;
  font-family: 'PT Sans', serif;
  text-shadow: white 0px 1px 1px;
  -webkit-box-shadow: #cccccc 1px 1px 1px;
  -moz-box-shadow: #cccccc 1px 1px 1px;
  box-shadow: #cccccc 1px 1px 1px;
  font-size: 1.3em;
  color: #264d69;
  font-weight: normal;
}
/* line 123, ../sass/openstack.scss */
body #message_bar .block {
  margin: 0px auto;
  padding: 0px;
  max-width: 960px;
}
/* line 127, ../sass/openstack.scss */
body #message_bar .block p {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 131, ../sass/openstack.scss */
body #message_bar .block p a {
  padding: 5px 15px;
  text-decoration: none;
  font-family: "PT Sans", serif;
  border: 1px solid #e2e2e2;
  border-color: #e2e2e2 #bababa #a0a0a0 #bababa;
  cursor: pointer;
  line-height: 1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: -o-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  text-shadow: white 0px 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  color: black;
  font-weight: normal;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
  margin: 0px 10px;
}
/* line 52, ../sass/openstack.scss */
body #message_bar .block p a:hover, body #message_bar .block p a:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  border-color: #636363 #ababab #ababab #ababab;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#bebebe, #eeeeee);
  background-image: -moz-linear-gradient(#bebebe, #eeeeee);
  background-image: -o-linear-gradient(#bebebe, #eeeeee);
  background-image: linear-gradient(#bebebe, #eeeeee);
  -webkit-transition: none;
}
/* line 138, ../sass/openstack.scss */
body #page {
  position: relative;
}
/* line 140, ../sass/openstack.scss */
body #page #header {
  margin-top: 20px;
  height: 70px;
}
/* line 143, ../sass/openstack.scss */
body #page #header .logoHolder {
  padding-top: 16px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 147, ../sass/openstack.scss */
body #page #header .region-header {
  background: url("../images/header-line.gif") left bottom repeat-x;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-top: 30px;
  right: 0px;
  position: absolute;
  width: 100%;
  max-width: 75%;
  min-width: 25%;
}
/* line 156, ../sass/openstack.scss */
body #page #header .region-header .block-commons-utility-links {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 162, ../sass/openstack.scss */
body #page #header .region-header .block-commons-utility-links .commons-utility-links li a {
  font-size: 12px;
  color: black;
  font-weight: normal;
  padding: 0;
}
/* line 165, ../sass/openstack.scss */
body #page #header .region-header .block-commons-utility-links .commons-utility-links li a:hover, body #page #header .region-header .block-commons-utility-links .commons-utility-links li a.active {
  font-size: 12px;
  color: #bc1518;
  font-weight: normal;
  border: none;
  padding: 0;
}
/* line 174, ../sass/openstack.scss */
body #page #header .region-header ul {
  padding: 0;
  margin: 0;
}
/* line 177, ../sass/openstack.scss */
body #page #header .region-header ul li {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 20px;
}
/* line 181, ../sass/openstack.scss */
body #page #header .region-header ul li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: normal;
}
/* line 186, ../sass/openstack.scss */
body #page #header .region-header ul li a.active {
  border-bottom: 3px solid #bc1518;
  padding: 4px 0px 1px 0px;
  font-size: 14px;
  color: #bc1518;
  font-weight: normal;
}
/* line 203, ../sass/openstack.scss */
body #page #main aside .sidebar ul {
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}
/* line 207, ../sass/openstack.scss */
body #page #main aside .sidebar ul li {
  list-style: none;
  margin-bottom: 5px;
  padding: 0;
}
/* line 211, ../sass/openstack.scss */
body #page #main aside .sidebar ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-weight: normal;
  background: #e3eded;
  text-align: right;
}
/* line 218, ../sass/openstack.scss */
body #page #main aside .sidebar ul li a:hover {
  background: #c4e0e9;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/* line 228, ../sass/openstack.scss */
body #page #footer {
  margin: 40px 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
/* line 234, ../sass/openstack.scss */
body #page #footer .block {
  float: left;
  width: 16%;
}
/* line 237, ../sass/openstack.scss */
body #page #footer .block .block-title {
  font-size: 15px;
  color: #bc1518;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 241, ../sass/openstack.scss */
body #page #footer .block ul {
  padding: 0;
  margin: 0px;
}
/* line 244, ../sass/openstack.scss */
body #page #footer .block ul li {
  list-style: none;
}
/* line 249, ../sass/openstack.scss */
body #page #footer #block-block-6 {
  width: 36%;
}
/* line 251, ../sass/openstack.scss */
body #page #footer #block-block-6 textarea {
  width: 90%;
  height: 80px;
  margin-bottom: 10px;
}

/* line 261, ../sass/openstack.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  padding: 5px 15px;
  text-decoration: none;
  font-family: "PT Sans", serif;
  border: 1px solid #e2e2e2;
  border-color: #e2e2e2 #bababa #a0a0a0 #bababa;
  cursor: pointer;
  line-height: 1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: -o-linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  background-image: linear-gradient(#ffffff, #f3f3f3 50%, #ebebeb);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  text-shadow: white 0px 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  color: black;
  font-weight: normal;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
/* line 52, ../sass/openstack.scss */
button:hover, button:active, input[type="button"]:hover, input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  border-color: #636363 #ababab #ababab #ababab;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#bebebe, #eeeeee);
  background-image: -moz-linear-gradient(#bebebe, #eeeeee);
  background-image: -o-linear-gradient(#bebebe, #eeeeee);
  background-image: linear-gradient(#bebebe, #eeeeee);
  -webkit-transition: none;
}
