/**
 * @file
 * Common scss rules
 *
 */

@import "compass/css3";
@import "compass/layout.scss";
@import "compass/reset/utilities";
@import "compass/typography";
@import "compass/utilities";
@import "init";

/** COLORS **/

$basicColor:  #535353;

$blue0:       #F2F6F7;
$blue1:       #E3EDED;
$blue2:       #c4e0e9;
$blue3:       #254C7C;
$blue4:       #264D69;
$blue5:       #1D395E;
$blue6:       #1F7A95;

$blue7:       #C1E4EE;
$blue8:       #7ED5EE;
$blue9:       #1D6A95;

$red:         #BC1518;
$red1:        #C43322;

$green:       #D5EFD4;

$grey0:       #CAE1E9;
$grey1:       #F4F3F2;
$grey2:       #C6C6C6;
$grey3:       #808080;
$grey4:       #575757;

@mixin font($size, $color, $weight){
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

/** BASIC STLYES **/

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  @include font(13px, $basicColor, normal);
}

a{
  @include link-colors($red, #000, #000, $red, #000);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

a, a:active, a:focus {
  outline: none;
}

p{
  margin: 0 0 1.5em;
}

h1{
  @include font(24px, $blue4, normal);
}

h2{
  @include font(18px, $blue4, normal);
}

h3{
  @include font(16px, $red, normal);
}

.block{
  margin: 0px;
}

.blueline {
  background: image-url("header-line.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
}

#logo {
  line-height: 24px;
  vertical-align: baseline;
  img {
    padding-top: 8px;
  }
}

/** BRANDING LAYOUT **/

/* reset */

#branding {
  a#logo {
    @include reset-box-model;
  }
  div#navigation {
    @include reset-box-model;
    width: auto;
  }
}

#branding {
  $zen-column-count: 12;
  $zen-gutter-width: 10px;
  #branding-container {
    @include zen-grid-container;
  }
  a#logo {
    @include zen-grid-item(2, 1);
    min-width: 196px;
  }
  div#navigation {
    @include zen-grid-item(10, 3);
  }
}


/** PRIMARY MENU **/

#navigation {
  height: auto;
  line-height: 24px;
  * {
    padding: 0;
    margin: 0;
  }
  nav {
    margin-left: 30px;
  }
  .links li {
    padding: 0;
  }
  li {
    vertical-align: baseline;
    margin-right: 20px;
    a {
      display: block;
      color: #353535;
      padding: 20px 0 5px;
      font-size: 14px;
      text-decoration: none;
    }
  }
  li.active {
    a {
      border-bottom: 3px solid #CF2F19;
      color: #CF2F19;
    }
  }
}

/** UTILITY LINKS **/

.block-commons-utility-links {
  text-align: right;
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;
      padding-left: 0.5em;
      a {
        color: #1F7A95;
      }
    }
  }
}

/** BLOCK SEARCH FORM **/

#header #block-search-form {
  float: right;
  .form-item {
    margin: 0px;
    margin-top: 0.5em;
  }
  .form-type-textfield {
      border: 1px solid #c5e2ea;
      display: inline-block;
      input {
        border: none;
        outline: none;
        font-size: 16px;
      }
  }
  .form-submit {
    background: #CF2F19;
    color: #ffffff;
    border: none;
    height: 24px;
  }
}

/** FOOTER **/

#footer {
  hr {
    height: 1px;
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 0.1em;
    margin: 0 0 1.45em;
    width: 100%;
  }
  .span-8, .span-4 {
    float: left;
    margin-right: 10px;
    h3 {
      margin-bottom: 10px;
    }
    ul {
      margin-top: 10px;
      list-style: none;
      padding: 0px;
      li {
        line-height: 18px;
        a, a.hover {
          color: #000000;
        }
      }
    }
  }
  .span-8 {
    width: 310px;
  }
  .span-4 {
    width: 150px;
  }
  .span-4.last {
    margin-right: 0px;
  }
}

/** Groups Page **/

.view-groups-groups-directory {
  margin-top: 1em;
  margin-bottom: 2em;
  @include column-count(6);
  h3 {
    margin-top: 0px;
    margin-bottom: 0.5em;
  }
  .views-row-last {
    padding-bottom: 1em;
  }
  a {
    color: #1F7A95;
  }
}

/** Activity stream **/

.view-commons-activity-streams-activity {
  background: $blue0;
  padding: 10px 0px;
  margin-bottom: 20px;
  line-height: 1em;
  /* activity stream row */
  .views-row {
    @include clearfix();
    padding-left: 58px;
    padding-bottom: 0.5em;
    min-height: 50px;
    div.user-picture {
      position: absolute;
      float: left;
      margin-left: -58px;
    }
    .user-picture img {
      width: 40px;
    }
    .views-field-timestamp {
      font-size: 0.85em;
      margin-top: 0.5em;
    }
    a {
      color: $blue6;
    }
  }

}

/** Breadcrumb **/

nav.breadcrumb {
  display: none;
}

/** Panel templates **/

.two-brick.at-panel {
  $zen-column-count: 6;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
  //background: #00ff00;
  .region-two-brick-left-above {
    @include zen-grid-item(3, 1);
  }
  .region-two-brick-right-above {
    @include zen-grid-item(3, 4);
  }
}

.three-50-25-25 {
  $zen-column-count: 12;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
  .region-three-50-25-25-first {
     @include zen-grid-item(6, 1);
  }
  .region-three-50-25-25-second {
     @include zen-grid-item(3, 7);
  }
  .region-three-50-25-25-third {
     @include zen-grid-item(3, 10);
  }
}

.openstack-front {
  $zen-column-count: 12;
  $zen-gutter-width: 10px;
  .openstack-front-container {
    @include zen-grid-container;
  }
  .openstack-front-top {
    margin-bottom: 20px;
  }
  .region-openstack-front-first {
     @include zen-grid-item(6, 1);
  }
  .region-openstack-front-second {
     @include zen-grid-item(3, 7);
  }
  .region-openstack-front-third {
     @include zen-grid-item(3, 10);
  }
  .region-openstack-front-bottom-first {
    @include zen-grid-item(8, 1);
  }
  .region-openstack-front-bottom-second {
    @include zen-grid-item(4, 9);
  }
}

/** Landing page **/

/* events / activity tabs */

.region-openstack-front-bottom-first {
  li {
    a.panels-ajax-tab-tab {
      font-size: 16px;
      color: $blue6;
    }
  }
  li.active {
    a.panels-ajax-tab-tab {
      color: $red;
    }
  }
  .item-list {
    text-align: left;
  }
  .pane-title {
    display: none;
  }
}

/* Find block */

.find-user-group {
  background: $grey1;
  padding: 10px 20px;
  border-top: 1px solid $grey2;
  color: $blue9;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 140%;
  text-align: center;

  .field-region {
    color: $grey0;
  }
}

/** Landing page upcoming events **/

.view-commons-events-upcoming {
  background: $blue0;
  padding: 10px 0px;
  line-height: 1em;
  .attachment-before,
  .view-filters {
    display: none;
  }
  .field-items, .field,
  .field-item {
    display: inline;
  }
  article {
    padding-bottom: 1em;
  }
  header {
    margin-bottom: 0.5em;
  }
  header a {
    color: $blue6;
  }
  .field-item {
    font-size: 0.85em;
  }
}

/** Group page **/

.node-type-group {
  .pane-commons-contributors-group-panel-pane-2,
  article .links,
  .rate-widget,
  .field-type-geofield,
  .field-name-field-group-location {
    display: none;
  }
  #quicktabs-commons_bw {
    background: $blue0;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

/** Community stats block **/

.pane-groups-homepage-groups-community-stats {
  h2 {
    display: none;
  }
  em {
    font-weight: bold;
    color: $grey4;
  }
  border-left: 3px solid $red1;
  padding-left: 15px;
  letter-spacing: -0.076em;
  font-size: 130%;
  text-align: left;
  color: $grey3;
  font-family: 'PT Sans',serif;
  padding: 5px;
}