/**
 * @file
 *
 * Layout of inner page elements.
 *
 */

@import "init";

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;
$zen-grid-width:    980px;

#header {
  #logo {
    /*background: #00ff00;*/
  }
  #navigation {
    /*background: #e0e0e0;*/
    /*position: static;
    width: auto;
    height: 56px;*/
  }
}

#branding {
  @include zen-grid-container();
}

#logo {
  @include zen-grid-item(1, 1);
}

#navigation {
  @include zen-grid-item(4, 2);
  position: static;
}
