/**
 * @file
 * Common scss rules
 *
 */
/** COLORS **/
/** BASIC STLYES **/
/* line 49, ../sass/custom.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #535353;
  font-weight: normal;
}

/* line 54, ../sass/custom.scss */
a {
  color: #bc1518;
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #bc1518;
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: black;
}
/* line 57, ../sass/custom.scss */
a:hover {
  text-decoration: underline;
}

/* line 62, ../sass/custom.scss */
a, a:active, a:focus {
  outline: none;
}

/* line 66, ../sass/custom.scss */
p {
  margin: 0 0 1.5em;
}

/* line 70, ../sass/custom.scss */
h1 {
  font-size: 24px;
  color: #264d69;
  font-weight: normal;
}

/* line 74, ../sass/custom.scss */
h2 {
  font-size: 18px;
  color: #264d69;
  font-weight: normal;
}

/* line 78, ../sass/custom.scss */
h3 {
  font-size: 16px;
  color: #bc1518;
  font-weight: normal;
}

/* line 82, ../sass/custom.scss */
.block {
  margin: 0px;
}

/* line 86, ../sass/custom.scss */
.blueline {
  background: url('../images/header-line.gif?1403288496') repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
}

/* line 90, ../sass/custom.scss */
#logo {
  line-height: 24px;
  vertical-align: baseline;
}
/* line 93, ../sass/custom.scss */
#logo img {
  padding-top: 8px;
}

/** BRANDING LAYOUT **/
/* reset */
/* line 103, ../sass/custom.scss */
#branding a#logo {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 106, ../sass/custom.scss */
#branding div#navigation {
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#branding #branding-container:before, #branding #branding-container:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#branding #branding-container:after {
  clear: both;
}
/* line 118, ../sass/custom.scss */
#branding a#logo {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  min-width: 196px;
}
/* line 122, ../sass/custom.scss */
#branding div#navigation {
  float: left;
  width: 83.33333%;
  margin-left: 16.66667%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/** PRIMARY MENU **/
/* line 130, ../sass/custom.scss */
#navigation {
  height: auto;
  line-height: 24px;
}
/* line 133, ../sass/custom.scss */
#navigation * {
  padding: 0;
  margin: 0;
}
/* line 137, ../sass/custom.scss */
#navigation nav {
  margin-left: 30px;
}
/* line 140, ../sass/custom.scss */
#navigation .links li {
  padding: 0;
}
/* line 143, ../sass/custom.scss */
#navigation li {
  vertical-align: baseline;
  margin-right: 20px;
}
/* line 146, ../sass/custom.scss */
#navigation li a {
  display: block;
  color: #353535;
  padding: 20px 0 5px;
  font-size: 14px;
  text-decoration: none;
}
/* line 155, ../sass/custom.scss */
#navigation li.active a {
  border-bottom: 3px solid #CF2F19;
  color: #CF2F19;
}

/** UTILITY LINKS **/
/* line 164, ../sass/custom.scss */
.block-commons-utility-links {
  text-align: right;
}
/* line 166, ../sass/custom.scss */
.block-commons-utility-links ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* line 170, ../sass/custom.scss */
.block-commons-utility-links ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  padding-left: 0.5em;
}
/* line 176, ../sass/custom.scss */
.block-commons-utility-links ul li a {
  color: #1F7A95;
}

/** BLOCK SEARCH FORM **/
/* line 185, ../sass/custom.scss */
#header #block-search-form {
  float: right;
}
/* line 187, ../sass/custom.scss */
#header #block-search-form .form-item {
  margin: 0px;
  margin-top: 0.5em;
}
/* line 191, ../sass/custom.scss */
#header #block-search-form .form-type-textfield {
  border: 1px solid #c5e2ea;
  display: inline-block;
}
/* line 194, ../sass/custom.scss */
#header #block-search-form .form-type-textfield input {
  border: none;
  outline: none;
  font-size: 16px;
}
/* line 200, ../sass/custom.scss */
#header #block-search-form .form-submit {
  background: #CF2F19;
  color: #ffffff;
  border: none;
  height: 24px;
}

/** FOOTER **/
/* line 211, ../sass/custom.scss */
#footer hr {
  height: 1px;
  background: none repeat scroll 0 0 #DDDDDD;
  border: medium none;
  clear: both;
  color: #DDDDDD;
  float: none;
  height: 0.1em;
  margin: 0 0 1.45em;
  width: 100%;
}
/* line 222, ../sass/custom.scss */
#footer .span-8, #footer .span-4 {
  float: left;
  margin-right: 10px;
}
/* line 225, ../sass/custom.scss */
#footer .span-8 h3, #footer .span-4 h3 {
  margin-bottom: 10px;
}
/* line 228, ../sass/custom.scss */
#footer .span-8 ul, #footer .span-4 ul {
  margin-top: 10px;
  list-style: none;
  padding: 0px;
}
/* line 232, ../sass/custom.scss */
#footer .span-8 ul li, #footer .span-4 ul li {
  line-height: 18px;
}
/* line 234, ../sass/custom.scss */
#footer .span-8 ul li a, #footer .span-8 ul li a.hover, #footer .span-4 ul li a, #footer .span-4 ul li a.hover {
  color: #000000;
}
/* line 240, ../sass/custom.scss */
#footer .span-8 {
  width: 310px;
}
/* line 243, ../sass/custom.scss */
#footer .span-4 {
  width: 150px;
}
/* line 246, ../sass/custom.scss */
#footer .span-4.last {
  margin-right: 0px;
}

/** Groups Page **/
/* line 253, ../sass/custom.scss */
.view-groups-groups-directory {
  margin-top: 1em;
  margin-bottom: 2em;
  -webkit-column-count: 6;
  -moz-column-count: 6;
  -ms-column-count: 6;
  -o-column-count: 6;
  column-count: 6;
}
/* line 257, ../sass/custom.scss */
.view-groups-groups-directory h3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
}
/* line 261, ../sass/custom.scss */
.view-groups-groups-directory .views-row-last {
  padding-bottom: 1em;
}
/* line 264, ../sass/custom.scss */
.view-groups-groups-directory a {
  color: #1F7A95;
}

/** Activity stream **/
/* line 271, ../sass/custom.scss */
.view-commons-activity-streams-activity {
  /*background: $blue0;*/
  padding: 10px 0px;
  margin-bottom: 20px;
  line-height: 1em;
  /* activity stream row */
}
/* line 277, ../sass/custom.scss */
.view-commons-activity-streams-activity .views-row {
  overflow: hidden;
  padding-left: 58px;
  /*padding-bottom: 0.5em;*/
  padding-bottom: 18px;
  min-height: 50px;
}
/* line 283, ../sass/custom.scss */
.view-commons-activity-streams-activity .views-row div.user-picture {
  position: absolute;
  float: left;
  margin-left: -58px;
}
/* line 288, ../sass/custom.scss */
.view-commons-activity-streams-activity .views-row .user-picture img {
  width: 40px;
}
/* line 291, ../sass/custom.scss */
.view-commons-activity-streams-activity .views-row .views-field-timestamp {
  font-size: 12px;
  margin-top: 0.5em;
}
/* line 295, ../sass/custom.scss */
.view-commons-activity-streams-activity .views-row a {
  color: #1f7a95;
}
/* line 299, ../sass/custom.scss */
.view-commons-activity-streams-activity .more-link {
  display: none;
}

/** Breadcrumb **/
/* line 307, ../sass/custom.scss */
nav.breadcrumb {
  display: none;
}

/** Panel templates **/
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.two-brick.at-panel:before, .two-brick.at-panel:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.two-brick.at-panel:after {
  clear: both;
}
/* line 318, ../sass/custom.scss */
.two-brick.at-panel .region-two-brick-left-above {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 321, ../sass/custom.scss */
.two-brick.at-panel .region-two-brick-right-above {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.three-50-25-25:before, .three-50-25-25:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.three-50-25-25:after {
  clear: both;
}
/* line 330, ../sass/custom.scss */
.three-50-25-25 .region-three-50-25-25-first {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 333, ../sass/custom.scss */
.three-50-25-25 .region-three-50-25-25-second {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 336, ../sass/custom.scss */
.three-50-25-25 .region-three-50-25-25-third {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.openstack-front .openstack-front-container:before, .openstack-front .openstack-front-container:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.openstack-front .openstack-front-container:after {
  clear: both;
}
/* line 347, ../sass/custom.scss */
.openstack-front .openstack-front-top {
  margin-bottom: 20px;
}
/* line 350, ../sass/custom.scss */
.openstack-front .region-openstack-front-first {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 353, ../sass/custom.scss */
.openstack-front .region-openstack-front-second {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 356, ../sass/custom.scss */
.openstack-front .region-openstack-front-third {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 359, ../sass/custom.scss */
.openstack-front .region-openstack-front-bottom-first {
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -66.66667%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 362, ../sass/custom.scss */
.openstack-front .region-openstack-front-bottom-second {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/** Landing page **/
/* events / activity tabs */
/* line 373, ../sass/custom.scss */
.region-openstack-front-bottom-first li a.panels-ajax-tab-tab {
  font-size: 16px;
  color: #1f7a95;
}
/* line 379, ../sass/custom.scss */
.region-openstack-front-bottom-first li.active a.panels-ajax-tab-tab {
  color: #bc1518;
}
/* line 383, ../sass/custom.scss */
.region-openstack-front-bottom-first .item-list {
  text-align: left;
}
/* line 386, ../sass/custom.scss */
.region-openstack-front-bottom-first .pane-title {
  display: none;
}

/* Find block */
/* line 393, ../sass/custom.scss */
.find-user-group {
  background: #f4f3f2;
  padding: 10px 20px;
  border-top: 1px solid #c6c6c6;
  color: #1d6a95;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 140%;
  text-align: center;
}
/* line 403, ../sass/custom.scss */
.find-user-group .field-region {
  color: #cae1e9;
}

/** Welcome pane **/
/* line 410, ../sass/custom.scss */
.pane-groups-homepage-groups-homepage-welcome {
  padding-right: 20px;
}

/** Landing page upcoming events **/
/* line 416, ../sass/custom.scss */
.view-commons-events-upcoming {
  /*background: $blue0;*/
  /*background: #ff0000;*/
  padding: 10px 0px;
  line-height: 1em;
}
/* line 421, ../sass/custom.scss */
.view-commons-events-upcoming h3 {
  font-size: 1.2em;
  margin: 0px;
  margin-bottom: 5px;
}
/* line 425, ../sass/custom.scss */
.view-commons-events-upcoming h3 a {
  color: #1f7a95;
}
/* line 429, ../sass/custom.scss */
.view-commons-events-upcoming .views-row {
  padding-bottom: 18px;
  padding-right: 20px;
}
/* line 434, ../sass/custom.scss */
.view-commons-events-upcoming .attachment-before,
.view-commons-events-upcoming .view-filters {
  display: none;
}
/* line 438, ../sass/custom.scss */
.view-commons-events-upcoming .field-items, .view-commons-events-upcoming .field,
.view-commons-events-upcoming .field-item {
  display: inline;
}
/* line 441, ../sass/custom.scss */
.view-commons-events-upcoming article {
  padding-bottom: 1em;
}
/* line 444, ../sass/custom.scss */
.view-commons-events-upcoming header {
  margin-bottom: 0.5em;
}
/* line 447, ../sass/custom.scss */
.view-commons-events-upcoming header a {
  color: #1f7a95;
}
/* line 450, ../sass/custom.scss */
.view-commons-events-upcoming .field-item {
  font-size: 12px;
}

/** Group page **/
/* line 462, ../sass/custom.scss */
.node-type-group .pane-commons-contributors-group-panel-pane-2,
.node-type-group article .links,
.node-type-group .rate-widget,
.node-type-group .field-type-geofield,
.node-type-group .field-name-field-group-location {
  display: none;
}
/* line 465, ../sass/custom.scss */
.node-type-group #quicktabs-commons_bw {
  background: #f2f6f7;
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/** Community stats block **/
/* line 475, ../sass/custom.scss */
.pane-groups-homepage-groups-community-stats {
  border-left: 3px solid #c43322;
  padding-left: 15px;
  letter-spacing: -0.076em;
  font-size: 130%;
  text-align: left;
  color: gray;
  font-family: 'PT Sans',serif;
  padding: 5px;
}
/* line 476, ../sass/custom.scss */
.pane-groups-homepage-groups-community-stats h2 {
  display: none;
}
/* line 479, ../sass/custom.scss */
.pane-groups-homepage-groups-community-stats em {
  font-weight: bold;
  color: #575757;
}
